{
  "twitch": {
    "loginChannel": "",
    "accessToken": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
  },
  "fuyukaApi": {
    "baseUrl": "ws://127.0.0.1:38321",
    "answerLevel": 16
  },
  "phantomJsCloud": {
    "apiKey": ""
  },
  "neoInnerApi": {
    "baseUrl": "",
    "answerLevel": 2,
    "responseKeywords": [
      "知って",
      "教え",
      "調べ",
      "説明"
    ],
    "exclusionKeywords": [
      "テスト",
      "死",
      "痛"
    ]
  },
  "oneComme": {
    "pathUsersCsv": ""
  }
}
